body{
 font-family: 'Montserrat', sans-serif;
}

header{
    background-color: silver;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px; /* width representa a largura da página */
    margin: 0 auto  ;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}


nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black; 
    border-radius: 10px; 
}

.produtos li:hover {
border-color: goldenrod;
}

.produtos li:hover h2{
    font-size: 35px;
}

.produtos h2  {
    font-size: 30px;
    font-weight: bold; 
}

.produto-descrição{
    font-size: 18px;
    
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

main{
   
}

form{
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin:0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%; /* width representa a largura da página */
}

.checkbox{
    margin: 20px 0;

}

.enviar{
    width: 40%; /* width representa a largura da página */
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
     background-color: red;
     transform: scale(1.2);

}

table{
    margin: 20px 0 40px;
}

thead{
    background-color: black;
    color: white;
    font-weight: bold;
    
}

td, th{
    border: 1px solid black; 
    padding: 15px 8px;
}

/* -- CSS da página inicial --  */

.banner{
   width: 100%; /* width representa a largura da página */

}

.titulo-principal{

    text-align: center;   /*texto alinhado ao centro */
    font-size: 2em;  /*tamanho da fonte da classe*/
    margin: 0 0 1em;
    clear:  left ;   /* clear = limpa o float*/

}

.principal p{
    margin:  0 0 1em;
    
}

.principal{
    padding: 3em 0;
    background-color: #FEFEFE;
    width: 940px; /* width representa a largura da página */
    margin:  0 auto;
}

.principal strong{
    font-weight: bold; /* font weight significa o estilo da fonte o peso dela , e bold é negrito*/
}

.principal em{
    font-style: italic;
}

.utensilios{
   width: 160px;
   float: left ; /*float serve para fazer o elemento flutuar e assim o texto ficar ao redor da imagem*/
   margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0; /* padding é um espaçamento interno*/
    background:linear-gradient(#FEFEFE, #888888)
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em; /*espaçamento externo*/
    text-align: center;
    width: 940px; /* width representa a largura da página */
    margin: auto;
}



.beneficios{
    padding: 3em 0;
    background:#888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
    

}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top; /*para alinhar a lista verticalmente em relação ao topo */
}

.itens{
    line-height: 1.5;  /* altura da linha*/
}

.itens:first-child {
font-weight: bold;
}
.itens:before {
    content: "★";
}

.imagem-beneficios{
    width: 50%; /*largura*/
    opacity: 1;  /* tira a luz que chega na img como uma pelicula de carro */
    transition: 400ms; 
    box-shadow: 10px 10px 10px #000000; /* caixa de sombra em um elemento*/
}

.imagem-beneficios:hover{
    opacity: 0.3;
}



.video{
    width: 560px;
    margin: 1em auto;
}


